/*-------------------------------------------*\
  VARIABLES
/*-------------------------------------------*/
/*-------------------------------------------*\
  GLOBAL
/*-------------------------------------------*/
/* line 13, ../compass/sass/style.scss */
body {
  background: #FFF;
}

/* line 16, ../compass/sass/style.scss */
a {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.1em;
  color: #4c7ab8;
}
/* line 21, ../compass/sass/style.scss */
a.green {
  color: #8fd0ad;
}
/* line 24, ../compass/sass/style.scss */
a.red {
  color: #f89692;
}
/* line 27, ../compass/sass/style.scss */
a.yellow {
  color: #fec785;
}
/* line 30, ../compass/sass/style.scss */
a.blue {
  color: #4c7ab8;
}

/*-------------------------------------------*\
  HEADER
/*-------------------------------------------*/
/* line 37, ../compass/sass/style.scss */
.header {
  position: fixed;
  width: 100%;
  background: #FFF;
  z-index: 2;
}
/* line 43, ../compass/sass/style.scss */
.header .container {
  position: relative;
}
/* line 47, ../compass/sass/style.scss */
.header .header__logo {
  margin: 0 auto;
  width: 200px;
  height: 100px;
  display: block;
  background-image: url(../img/dai.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 15px;
  margin-top: 15px;
}

/*-------------------------------------------*\
  INTRODUCTION
/*-------------------------------------------*/
/* line 64, ../compass/sass/style.scss */
.introduction {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
/* line 68, ../compass/sass/style.scss */
.introduction .introduction__title {
  color: #fec785;
  font-size: 2em;
}
/* line 72, ../compass/sass/style.scss */
.introduction .introduction__description {
  color: #babcbe;
  border-top: solid 1px #babcbe;
  display: inline-block;
  padding-top: 8px;
}

/*-------------------------------------------*\
  SITE CONTENT
/*-------------------------------------------*/
/* line 82, ../compass/sass/style.scss */
.site-content {
  padding-top: 128px;
}

/*-------------------------------------------*\
  ISOTOPE
/*-------------------------------------------*/
/* line 90, ../compass/sass/style.scss */
.isotope .isotope__item {
  width: 30%;
  margin: 1.5%;
  position: relative;
}
/* line 94, ../compass/sass/style.scss */
.isotope .isotope__item img {
  width: 100%;
}
/* line 99, ../compass/sass/style.scss */
.isotope .isotope__item__mask {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #fec785;
}

/*-------------------------------------------*\
  NAV
/*-------------------------------------------*/
/* line 112, ../compass/sass/style.scss */
.nav {
  overflow: hidden;
}
/* line 114, ../compass/sass/style.scss */
.nav a {
  margin: 15px;
}
/* line 117, ../compass/sass/style.scss */
.nav .nav__left {
  position: absolute;
  left: 0px;
  top: 40px;
}
/* line 122, ../compass/sass/style.scss */
.nav .nav__right {
  position: absolute;
  right: 0px;
  top: 40px;
}
