/*-------------------------------------------*\
  VARIABLES
/*-------------------------------------------*/
/*-------------------------------------------*\
  GLOBAL
/*-------------------------------------------*/
/* line 18, ../compass/sass/style.scss */
body, header {
  background-color: #FFF;
  -moz-transition: background-color 1s 0.1s, color 2s;
  -o-transition: background-color 1s 0.1s, color 2s;
  -webkit-transition: background-color 1s, color 2s;
  -webkit-transition-delay: 0.1s, 0s;
  transition: background-color 1s 0.1s, color 2s;
}

/* line 22, ../compass/sass/style.scss */
a:focus, a:hover {
  text-decoration: none;
}

/* line 25, ../compass/sass/style.scss */
.hidden {
  display: none;
}

/* line 29, ../compass/sass/style.scss */
body.blue {
  color: red;
  background-color: #9ECCCF;
}
/* line 32, ../compass/sass/style.scss */
body.blue .header {
  background-color: #9ECCCF;
}
/* line 36, ../compass/sass/style.scss */
body.blue .introduction .introduction__title {
  color: #FFF;
}
/* line 39, ../compass/sass/style.scss */
body.blue .introduction .introduction__description {
  color: #FFF;
}
/* line 42, ../compass/sass/style.scss */
body.blue .introduction .introdcution__paragraph {
  color: #FFF;
}
/* line 46, ../compass/sass/style.scss */
body.blue .green {
  color: #FFF;
  border-color: #FFF;
}
/* line 50, ../compass/sass/style.scss */
body.blue .separator {
  background: #FFF;
}
/* line 53, ../compass/sass/style.scss */
body.blue .footer {
  background: none;
  color: #FFF;
}
/* line 57, ../compass/sass/style.scss */
body.blue .sidebar {
  color: #FFF;
}
/* line 59, ../compass/sass/style.scss */
body.blue .sidebar a {
  color: #FFF;
}

/* line 65, ../compass/sass/style.scss */
body.brown {
  color: red;
  background-color: #FFF4DC;
}
/* line 68, ../compass/sass/style.scss */
body.brown .header {
  background-color: #FFF4DC;
}
/* line 72, ../compass/sass/style.scss */
body.brown .introduction .introduction__title {
  color: #4c7ab8;
}
/* line 75, ../compass/sass/style.scss */
body.brown .introduction .introduction__description {
  color: #4c7ab8;
}
/* line 78, ../compass/sass/style.scss */
body.brown .introduction .introdcution__paragraph {
  color: #4c7ab8;
}
/* line 81, ../compass/sass/style.scss */
body.brown .introduction .introduction__link {
  border-color: #4c7ab8;
}
/* line 85, ../compass/sass/style.scss */
body.brown .separator {
  background: #4c7ab8;
}
/* line 88, ../compass/sass/style.scss */
body.brown .footer {
  background: none;
}

/* line 92, ../compass/sass/style.scss */
body.white {
  color: red;
  background-color: #FFF;
}
/* line 95, ../compass/sass/style.scss */
body.white .header {
  background-color: #FFF;
}

/* line 100, ../compass/sass/style.scss */
.toto {
  width: 300px;
  height: 300px;
  background: #F0F;
}

/* line 106, ../compass/sass/style.scss */
a {
  font-size: 1.45em;
  color: #4c7ab8;
  text-decoration: none;
  padding-bottom: 4px;
  font-weight: normal;
}
/* line 112, ../compass/sass/style.scss */
a:hover {
  text-decoration: none;
}
/* line 115, ../compass/sass/style.scss */
a.green {
  color: #8fd0ad;
  border-bottom: solid 3px #8fd0ad;
}
/* line 119, ../compass/sass/style.scss */
a.red {
  color: #f89692;
  border-bottom: solid 3px #f89692;
}
/* line 123, ../compass/sass/style.scss */
a.yellow {
  color: #fec785;
  border-bottom: solid 3px #fec785;
}
/* line 127, ../compass/sass/style.scss */
a.blue {
  color: #4c7ab8;
  border-bottom: solid 3px #4c7ab8;
}

/* line 132, ../compass/sass/style.scss */
.separator {
  width: 50px;
  height: 3px;
  background: #babcbe;
  margin: 0 auto;
}

/*-------------------------------------------*\
  HEADER
/*-------------------------------------------*/
/* line 141, ../compass/sass/style.scss */
.header {
  position: fixed;
  width: 100%;
  background: #FFF;
  z-index: 2;
  height: 135px;
}
/* line 148, ../compass/sass/style.scss */
.header .container {
  position: relative;
}
/* line 152, ../compass/sass/style.scss */
.header .header__logo {
  margin: 0 auto;
  width: 224px;
  height: 100px;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -86px;
}
/* line 160, ../compass/sass/style.scss */
.header .header__logo svg {
  width: 100%;
}

/*-------------------------------------------*\
  INTRODUCTION
/*-------------------------------------------*/
/* line 170, ../compass/sass/style.scss */
.introduction {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-top: 7%;
}
/* line 175, ../compass/sass/style.scss */
.introduction .introduction__title {
  color: #fec785;
  font-size: 2.6em;
  letter-spacing: 4px;
  margin-bottom: 16px;
}
/* line 181, ../compass/sass/style.scss */
.introduction .introduction__description {
  color: #babcbe;
  display: inline-block;
  padding-top: 8px;
  letter-spacing: 5px;
  margin-top: 8px;
}
/* line 188, ../compass/sass/style.scss */
.introduction .introdcution__paragraph {
  color: #fec785;
  text-transform: none;
  font-size: 1.3em;
  margin-top: 40px;
}
/* line 193, ../compass/sass/style.scss */
.introduction .introdcution__paragraph p {
  margin-bottom: 30px;
}
/* line 197, ../compass/sass/style.scss */
.introduction .introduction__link {
  font-size: 1em;
  border-bottom: solid 3px #FFF;
  display: inline-block;
  margin-top: 40px;
}

/*-------------------------------------------*\
  SITE CONTENT
/*-------------------------------------------*/
/* line 207, ../compass/sass/style.scss */
.site {
  position: relative;
}

/* line 210, ../compass/sass/style.scss */
.site-content {
  padding-top: 128px;
}

/*-------------------------------------------*\
  SIDEBAR
/*-------------------------------------------*/
/* line 217, ../compass/sass/style.scss */
.sidebar {
  position: fixed;
  right: -194px;
  top: 60%;
  z-index: 100;
  font-size: 16px;
  color: #9ECCCF;
}
/* line 224, ../compass/sass/style.scss */
.sidebar a {
  color: #9ECCCF;
  font-size: 16px;
}

/* line 229, ../compass/sass/style.scss */
.vertical {
  transform: rotate(-90deg);
  transform-origin: left top 0;
}

/*-------------------------------------------*\
  FOOTER
/*-------------------------------------------*/
/* line 237, ../compass/sass/style.scss */
.footer {
  display: block;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding: 15px 0px;
  background: rgba(255, 255, 255, 0.5);
  color: #5E5E5E;
  text: initial;
  font-style: italic;
  font-size: 0.8em;
}

/*-------------------------------------------*\
  ISOTOPE
/*-------------------------------------------*/
/* line 255, ../compass/sass/style.scss */
.isotope .isotope__item {
  max-width: 100%;
  position: relative;
  padding: 30px !important;
}
/* line 260, ../compass/sass/style.scss */
.isotope .isotope__item img {
  max-width: 100%;
}
/* line 265, ../compass/sass/style.scss */
.isotope .isotope__item__mask {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #fec785;
  padding: 25px;
  overflow: hidden;
  color: #FFF;
}
/* line 278, ../compass/sass/style.scss */
.isotope .isotope__item__mask__separator {
  width: 25px;
  height: 4px;
  background: #FFF;
  margin-bottom: 15px;
}
/* line 285, ../compass/sass/style.scss */
.isotope .isotope__item__mask__paragraph {
  font-size: 1.3em;
  width: 53%;
  margin-bottom: 20px;
  letter-spacing: 1px;
  -webkit-animation-duration: 0.5s;
  /* Chrome, Safari, Opera */
  animation-duration: 0.5s;
}
/* line 294, ../compass/sass/style.scss */
.isotope .isotope__item__mask__title {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 3px;
  font-size: 1.5em;
  margin-top: 0px;
  margin-bottom: 30px;
  -webkit-animation-duration: 0.2s;
  /* Chrome, Safari, Opera */
  animation-duration: 0.2s;
}

/*-------------------------------------------*\
  NAV
/*-------------------------------------------*/
/* line 310, ../compass/sass/style.scss */
.nav {
  overflow: hidden;
}
/* line 312, ../compass/sass/style.scss */
.nav a {
  margin: 15px;
}
/* line 315, ../compass/sass/style.scss */
.nav .nav__left {
  position: absolute;
  left: 30px;
  top: 40px;
}
/* line 320, ../compass/sass/style.scss */
.nav .nav__right {
  position: absolute;
  right: 30px;
  top: 40px;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 2200px) {
  /* line 329, ../compass/sass/style.scss */
  .container-fluid {
    width: 2200px;
    position: relative;
  }
}
