/*-------------------------------------------*\
  VARIABLES
/*-------------------------------------------*/
/*-------------------------------------------*\
  GLOBAL
/*-------------------------------------------*/
/* line 13, ../compass/sass/style.scss */
body {
  background: #FFF;
}

/* line 16, ../compass/sass/style.scss */
a {
  font-size: 1.1em;
  color: #4c7ab8;
  text-decoration: none;
  padding-bottom: 4px;
  font-weight: normal;
}
/* line 22, ../compass/sass/style.scss */
a:hover {
  text-decoration: none;
}
/* line 25, ../compass/sass/style.scss */
a.green {
  color: #8fd0ad;
  border-bottom: solid 3px #8fd0ad;
}
/* line 29, ../compass/sass/style.scss */
a.red {
  color: #f89692;
  border-bottom: solid 3px #f89692;
}
/* line 33, ../compass/sass/style.scss */
a.yellow {
  color: #fec785;
  border-bottom: solid 3px #fec785;
}
/* line 37, ../compass/sass/style.scss */
a.blue {
  color: #4c7ab8;
  border-bottom: solid 3px #4c7ab8;
}

/* line 42, ../compass/sass/style.scss */
.separator {
  width: 50px;
  height: 3px;
  background: #babcbe;
  margin: 0 auto;
}

/*-------------------------------------------*\
  HEADER
/*-------------------------------------------*/
/* line 51, ../compass/sass/style.scss */
.header {
  position: fixed;
  width: 100%;
  background: #FFF;
  z-index: 2;
  height: 135px;
}
/* line 58, ../compass/sass/style.scss */
.header .container {
  position: relative;
}
/* line 62, ../compass/sass/style.scss */
.header .header__logo {
  margin: 0 auto;
  width: 200px;
  height: 100px;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -35px;
}
/* line 70, ../compass/sass/style.scss */
.header .header__logo svg {
  width: 100%;
}

/*-------------------------------------------*\
  INTRODUCTION
/*-------------------------------------------*/
/* line 80, ../compass/sass/style.scss */
.introduction {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
/* line 84, ../compass/sass/style.scss */
.introduction .introduction__title {
  color: #fec785;
  font-size: 2.1em;
  letter-spacing: 4px;
  margin-bottom: 16px;
}
/* line 90, ../compass/sass/style.scss */
.introduction .introduction__description {
  color: #babcbe;
  display: inline-block;
  padding-top: 8px;
  letter-spacing: 5px;
  margin-top: 8px;
}

/*-------------------------------------------*\
  SITE CONTENT
/*-------------------------------------------*/
/* line 101, ../compass/sass/style.scss */
.site-content {
  padding-top: 128px;
}

/*-------------------------------------------*\
  ISOTOPE
/*-------------------------------------------*/
/* line 109, ../compass/sass/style.scss */
.isotope .isotope__item {
  max-width: 100%;
  position: relative;
  padding: 30px !important;
}
/* line 114, ../compass/sass/style.scss */
.isotope .isotope__item img {
  max-width: 100%;
}
/* line 119, ../compass/sass/style.scss */
.isotope .isotope__item__mask {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #fec785;
}

/*-------------------------------------------*\
  INTRODUCTION
/*-------------------------------------------*/
/* line 132, ../compass/sass/style.scss */
.introduction {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
/* line 136, ../compass/sass/style.scss */
.introduction .introduction__title {
  color: #fec785;
  font-size: 2em;
}
/* line 140, ../compass/sass/style.scss */
.introduction .introduction__description {
  color: #babcbe;
  border-top: solid 1px #babcbe;
  display: inline-block;
  padding-top: 8px;
}

/*-------------------------------------------*\
  SITE CONTENT
/*-------------------------------------------*/
/* line 150, ../compass/sass/style.scss */
.site-content {
  padding-top: 128px;
}

/*-------------------------------------------*\
  ISOTOPE
/*-------------------------------------------*/
/* line 158, ../compass/sass/style.scss */
.isotope .isotope__item {
  width: 30%;
  margin: 1.5%;
  position: relative;
}
/* line 162, ../compass/sass/style.scss */
.isotope .isotope__item img {
  width: 100%;
}
/* line 167, ../compass/sass/style.scss */
.isotope .isotope__item__mask {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #fec785;
}

/*-------------------------------------------*\
  NAV
/*-------------------------------------------*/
/* line 180, ../compass/sass/style.scss */
.nav {
  overflow: hidden;
}
/* line 182, ../compass/sass/style.scss */
.nav a {
  margin: 15px;
}
/* line 185, ../compass/sass/style.scss */
.nav .nav__left {
  position: absolute;
  left: 30px;
  top: 40px;
}
/* line 190, ../compass/sass/style.scss */
.nav .nav__right {
  position: absolute;
  right: 30px;
  top: 40px;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 2200px) {
  /* line 199, ../compass/sass/style.scss */
  .container-fluid {
    width: 2200px;
  }
}
