@import "compass";

/*-------------------------------------------*\
  VARIABLES
/*-------------------------------------------*/
$green: #8fd0ad;
$yellow: #fec785;
$blue: #4c7ab8;
$red: #f89692;
$grey: #babcbe;
$brown: #FFF4DC;
$blueLight: #9ECCCF;

.hid{
     opacity:0;
}
.vis{
    opacity:1;
}

/*-------------------------------------------*\
  GLOBAL
/*-------------------------------------------*/
body, header {
    background-color: #FFF;
    @include transition(background-color 1s .1s, color 2s);
}
a:focus, a:hover {
    text-decoration: none;
}
.hidden {
    display: none;
}

body.blue {
    color: red;
    background-color: $blueLight;
    .header {
        background-color: $blueLight;
    }
    .introduction {
        margin-top: 7%;
        .introduction__title {
            color: #FFF;
        }
        .introduction__description {
            color: #FFF;
        }
        .introdcution__paragraph {
            color: #FFF;
            &.lol {
                font-size: 1em;
                margin-top: 75px;
                margin-bottom: 90px;
            }
        }
    }
    .green {
        color: #FFF;
        border-color: #FFF;
    }
    .separator {
        background: #FFF;
    }
    .footer {
        color: #FFF;
    }
    .sidebar {
        color: #FFF;
        a {
            color: #FFF;
        }
    }
}

body.brown {
    color: red;
    background-color: $brown;
    .header {
        background-color: $brown;
    }
    .introduction {
        margin-top: 7%;
        .introduction__title {
            color: $blue;
        }
        .introduction__description {
            color: $blue;
        }
        .introdcution__paragraph {
            color: $blue;
        }
        .introduction__link {
            border-color: $blue;
            color: $blue;
        }
        .introduction__link:hover {
          color: #FEC785;
          border-color: #FEC785;
          text-decoration: none;
        }
    }
    .separator {
        background: $blue;
    }
    .footer {
        color: $blue;
    }
}
body.white {
    color: red;
    background-color: #FFF;
    .header {
        background-color: #FFF;
    }
}

.toto {
    width: 300px;
    height: 300px;
    background: #F0F;
}

a {
    font-size: 1.45em;
    color: $blue;
    text-decoration: none;
    padding-bottom: 4px;
    font-weight: normal;
    &.green {
        color: $green;
        border-bottom: solid 3px $green;
    }
    &.red {
        color: $red;
        border-bottom: solid 3px $red;
    }
    &.yellow {
        color: $yellow;
        border-bottom: solid 3px $yellow;
    }
    &.blue {
        color: $blue;
        border-bottom: solid 3px $blue;
    }
}
.separator {
    width: 50px;
    height: 3px;
    background: $grey;
    margin: 0 auto;
}
/*-------------------------------------------*\
  HEADER
/*-------------------------------------------*/
.header {
    position: fixed;
    width: 100%;
    background: #FFF;
    z-index: 2;
    height: 135px;

    .container {
        position: relative;
    }

    .header__logo {
        margin: 0 auto;
        width: 224px;
        height: 100px;
        display: block;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: -86px;
        svg {
            width: 100%;
        }
    }
}

/*-------------------------------------------*\
  BLOCK
/*-------------------------------------------*/
.block {
    margin-bottom: 50px;

}


/*-------------------------------------------*\
  INTRODUCTION
/*-------------------------------------------*/
.introduction {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 48px;
    .introduction__title {
        color: $yellow;
        font-size: 2.6em;
        letter-spacing: 4px;
        margin-bottom: 16px;
    }
    .introduction__picture {
        width: 100%;
        margin: 0 auto;
        img {
            width: 70%;
        }
    }
    .introduction__description {
        color: $grey;
        display: inline-block;
        padding-top: 8px;
        letter-spacing: 5px;
        margin-top: 8px;
    }

    .introdcution__title__animate {
        margin-top: 0px;    
    }

    .introdcution__paragraph {
        color: $yellow;
        text-transform: none;
        font-size: 1.3em;
        margin-top: 40px;
        p {
            margin-bottom: 30px;
        }
        a {
            font-size: 1em;
            color: #FFF;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    .introduction__link {
        font-size: 1em;
        border-bottom: solid 3px #FFF;
        display: inline-block;
        margin-top: 40px;
    }
}
/*-------------------------------------------*\
  SITE CONTENT
/*-------------------------------------------*/
.site {
    position: relative;
}
.site-content {
    padding-top: 128px;
}

/*-------------------------------------------*\
  SIDEBAR
/*-------------------------------------------*/
.sidebar {
    position: fixed;
    right: -194px;
    top: 60%;
    z-index: 100;
    font-size: 16px;
    color: $blueLight;
    a {
        color: $blueLight;
        font-size: 16px;
    }
}
.vertical {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    transform-origin: left top 0;
   -ms-transform-origin: left top 0; /* IE 9 */
   -webkit-transform-origin: left top 0; /* Chrome, Safari, Opera */
   transform-origin: left top 0;
}

/*-------------------------------------------*\
  FOOTER
/*-------------------------------------------*/
.footer {
    display: block;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 10px;
    padding: 15px 0px;
    color: #D2D1D1;
    text: initial;
    font-style: italic;
    font-size: 0.95em;
}

/*-------------------------------------------*\
  ISOTOPE
/*-------------------------------------------*/
@media screen and (min-width:995px) and (max-width:1437px){
    body{ 
        .isotope__item {
            width: 48%;
        }
    }   
}
.isotope {
    .isotope__item {
        max-width: 100%;
        position: relative;
        padding: 30px !important;

        img {
            max-width: 100%;
        }
    }

    .isotope__item__mask {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background-color: $yellow;
        padding: 25px;
        overflow: hidden;
        color: #FFF;

    }

    .isotope__item__mask__separator {
        width: 25px;
        height: 4px;
        background: #FFF;
        margin-bottom: 15px;
    }

    .isotope__item__mask__paragraph {
        font-size: 1.3em;
        width: 53%;
        margin-bottom: 20px;
        letter-spacing: 1px;
        -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
        animation-duration: 0.5s;
    }

    .isotope__item__mask__title {
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 3px;
        font-size: 1.5em;
        margin-top: 0px;
        margin-bottom: 30px;
        -webkit-animation-duration: 0.2s; /* Chrome, Safari, Opera */
        animation-duration: 0.2s;

    }
}

/*-------------------------------------------*\
  NAV
/*-------------------------------------------*/
.nav {
    overflow: hidden;
    a {
        margin: 15px;
    }
    .nav__left {
        position: absolute;
        left: 30px;
        top: 40px;
    }
    .nav__right {
        position: absolute;
        right: 30px;
        top: 40px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 2200px) {
    .container-fluid {
        width: 2200px;
        position: relative;
    }
}

@media (max-width: 768px) {
    .site-content {
      padding-top: 200px;
    }
    .header {
        height: 200px;
    }
    .nav {
        overflow: hidden;
        a {
            margin: 15px;
        }
        .nav__left {
            top: 140px;
            width: 100%;
            text-align: center;
            left: 0px;
            .red {
                display: inline-block !important;
            }
        }
        .nav__right {
            top: 140px;
            .red {
                display: none !important;
            }
        }
    }
    .sidebar {
        top: 75%;
    }
}